[COMMON]
environment = prod | dev

[REDDIT]
client.id = 
client.secret = 
user.agent = 
user.password = 
user.name = 

[DATABASE]
hostname = 
port = 
username = 
password = 
groupid = 
publickey = 
privatekey = 

[DISCORD]
token = 

[STEAM]
steam.api = 