[COMMON]
masterlog = 
playground = 
environment = 
api.url = 
salt = 

[REDDIT]
client.id = 
client.secret = 
user.agent = 
user.password = 
user.name = 

[DATABASE]
publickey = 
privatekey = 
uri = 
groupid = 
web.uri = 
name = 

[DISCORD]
token = 
prefix = 

[STEAM]
steam.api = 